global
    daemon
    user haproxy
    group haproxy

    chroot /var/lib/haproxy
    stats timeout 30s
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

    tune.stick-counters 3

    log stdout format raw local0
    setenv HTTPLOG_JSON "%{+json}o %(client)ci %(client_port)cp %(request_date)tr %(frontend)ft %(backend)b %(backend_server)s %(time_request)TR %(time_wait)Tw %(time_connect)Tc %(time_response)Tr/%(time_active)Ta %(status)ST %(bytes_read)B %(termination_state)tsc %(actconn)ac %(feconn)fc %(beconn)bc %(srv_conn)sc %(retries)rc %(srv_queue)sq %(backend_queue)bq %(capture_request)hr %(capture_response)hs %(http_request){+Q}r"
    setenv TCPLOG_JSON "%{+json}o %(client)ci %(client_port)cp %(request_date)t %(frontend)ft %(backend)b %(backend_server)s %(time_wait)Tw %(time_connect)Tc %(time_total)Tt %(bytes_read)B %(termination_state)ts %(actconn)ac %(feconn)fc %(beconn)bc %(srv_conn)sc %(retries)rc %(srv_queue)sq %(backend_queue)bq %(capture_request)hr %(capture_response)hs"


defaults
    log global
    mode http
    balance leastconn
    option forwardfor
    option dontlognull
    log-format "${HTTPLOG_JSON}"

    timeout connect 10s
    timeout client 1m
    timeout server 1m
    timeout http-keep-alive 2m
    timeout queue 15s
    timeout tunnel 4h

frontend fe_main
    mode http

    bind [::]:8080 v4v6
    bind [::]:8443 v4v6 ssl crt /etc/ssl/haproxy/test.pem alpn h2,http/1.1
    bind quic4@:8443 v4v6 ssl crt /etc/ssl/haproxy/test.pem alpn h3

    http-after-response add-header alt-svc 'h3=":8443"; ma=60'

    # not working with test-container - see: https://github.com/alpine-docker/curl-http3/issues/3
    # http-request early-hint Link "<https://cdn.localhost/css/main.css>; crossorigin; rel=preconnect" if { ssl_fc_alpn -i h2 h3 }

    default_backend be_fallback

backend be_fallback
    mode http
    http-request redirect location https://github.com/O-X-L/haproxy-docker-quic code 301
